@model Centralization.Models.Interment

<table>
    <thead>
        <tr>
            <td>
                @Html.DisplayNameFor(m => m.FullName)
            </td>
            <td>
                @Html.DisplayNameFor(m => m.Location)
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(m => m.FullName)
            </td>
            <td>
                @Html.DisplayFor(m => m.Location)
            </td>
        </tr>
    </tbody>
</table>
