@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>@ViewData["Title"]</h1>

<p>Home Page</p>

<p>
    Vivamus nec viverra nisl, nec pellentesque lectus. Vestibulum elementum
    vitae purus nec dapibus. Vestibulum ante ipsum primis in faucibus orci
    luctus et ultrices posuere cubilia curae; Phasellus laoreet magna nibh,
    ac mollis sem efficitur ut. Sed molestie nunc velit, ut pulvinar sem
    ultrices nec. Phasellus a purus dignissim augue pulvinar maximus finibus
    eget enim. Sed consectetur tellus eget erat feugiat, id rhoncus metus
    pellentesque. Aliquam ac imperdiet quam. Proin commodo accumsan neque,
    a viverra neque pretium at. Quisque eleifend suscipit elit. Orci varius
    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Proin molestie ornare aliquam. Vestibulum libero magna, porta non ipsum
    et, interdum facilisis ante
</p>

<ul>
    <li><a href="/Memorials/Index">View Applications</a></li>
    <li><a href="/Memorials/Create">Create Application</a></li>
    <li><a href="/Search">Deceased Documents</a></li>
</ul>

