@page
@model ZakekeModel
@{
    ViewData["Title"] = "Zakeke Test";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to test Zakeke Stuff.</p>

<!-- Zakeke Container -->
<div id="zakeke-container"></div>

@*<script src="https://portal.zakeke.com/scripts/config.js"></script>
<script src="https://portal.zakeke.com/scripts/integration/api/customizer.js"></script>*@
<script src="js/Zakeke.js"></script>