@page
@model Centralization.Pages.Applications.CreateModel
@using Centralization.Models
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Memorial Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" id="createForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemorialApplication.Type" class="control-label"></label>
                <select asp-for="MemorialApplication.Type" class="form-control"
                        asp-items="Html.GetEnumSelectList<ApplicationType>()"></select>
                <span asp-validation-for="MemorialApplication.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorialApplication.UploadedBy" class="control-label"></label>
                <input asp-for="MemorialApplication.UploadedBy" class="form-control" />
                <span asp-validation-for="MemorialApplication.UploadedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorialApplication.Idf" class="control-label"></label>
                <input asp-for="MemorialApplication.Idf" class="form-control" />
                <span asp-validation-for="MemorialApplication.Idf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemorialApplication.CemNo" class="control-label"></label>
                <select asp-for="MemorialApplication.CemNo" class="form-control"
                        asp-items="Cemeteries.cemeteriesSelectList"></select>
                <span asp-validation-for="MemorialApplication.CemNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label">File Upload</label>
                <input asp-for="FileUpload" class="form-control" type="file" required />
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" id="submitBtn">
                Create
            </button>

            <!-- Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLongTitle">Confirm Application</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <p class="result">
        @Model.Result
    </p>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="@Url.Content("~/js/createApplication.js")" type="text/javascript"></script>
}
